.Blogs h1{
    list-style: none;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    width: 100%;
    text-align: center
}
.Blogs ul{
    list-style: none;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    width: 100%;
    text-align: center
}

.Blogs li{
    display: inline-block;
    margin: 20px;
    justify-content: center

}

.Blogs a{
    text-decoration: none;
    color: black;
    justify-content: center
}